# 依赖目录
node_modules
dist
build

# 版本控制
.git
.gitignore

# 环境配置
.env*

# IDE配置
.vscode
.idea

# 日志文件
*.log
logs

# 测试文件
test
coverage
.nyc_output

# 其他
.DS_Store
README.md
DOCKER*
docker*
.dockerignore
.prettierrc
.eslintrc
eslint.config.*